/* Author: {Burkovetskaya Natasha} E­mail: {natashaburkovetskaya@gmail.com} */
/* General style for footer */
footer {
    height: 65px;
}

/* Style for footer navigation */
.footer_nav {
    display: inline;
    text-align: center;
    padding-top: 1%;
}

.footer_nav ul li {
    display: inline-block;
}

.footer_nav .f_menu:before {
    content: url("../images/1.png");
    vertical-align: sub;
}

.footer_nav .f_back:before {
    content: url("../images/2.png");
    vertical-align: sub;

}

.footer_nav .f_search:before {
    content: url("../images/4.png");
    vertical-align: sub;
}

.footer_nav .f_next:before {
    content: url("../images/3.png");
    vertical-align: sub;
}

.footer_nav a {
    padding: 0 41px 0 4px;
}